{% extends "layout.html" %}
{% block content %}

<div class="h-100 row align-items-center justify-content-center" id="overlay">
    <div class="jumbotron d-flex align-items-center min-vh-100">
        <div class="container text-center">
            <div class="card">
                <div class="card-header" id="aboutUsHeader">
                    About Us
                </div>
                <div class="card-body" id="aboutUsBody" style="min-height: 150px;">
                    <p>
                        This tool was developed as part of the Accenture Applied Intelligence AI Hackathon Q2 2022 by:

                    </p>
                    <ul>
                        <li>Zahra Farsijani</li>
                        <li>Adam Ghoumrassi</li>
                        <li>Ben Jacklin</li>
                        <li>William O'Hara</li>
                        <li>Sagar Rana</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>          
</div>

{% endblock content %}